
body{
    background-color: #f5f5f5;
}

h1 {
    color: white;
    padding-top:5%;
    padding-left:2%;
    text-shadow: 0px 5px 5px black;
    font-family: Roboto, Times, sans-serif;
    opacity:0.5;
}

.myCard{
    opacity:0.5;
}

.myUpperContainer{
    position:absolute;
    bottom: 0;
    background-color: grey;
    padding: 0;
    margin: 0;
    opacity:0.7;
}

.myTabs{
    background-color: black;
    margin-top:0;
    text-align: center;
}

.myTabs li{
    display:inline-block;
    padding: 1% 5% 1% 5%;
}

.myTabs li a{
    color:white;
}

.myTabs li a:hover{
    color: lightcoral;
}

.myCarousel{
    margin-top: 3%;
}

.myForm{
    margin-top: 3%;
    padding: 2%;
    background-color: gainsboro;
}
.parallax-container {
      height:600px;
}

.about{
    opacity: 0;
    font-size: 10px;
}

.front{
    opacity: 0;
    font-size: 10px;
}

.back{
    opacity: 0;
    font-size: 10px;
}

.first-row{
    opacity:0.03;
}

.about-me-text{
    opacity: 0.03;
}

.second-row{
    opacity:0.03;
}

.img-responsive{

}
