<h6><strong>Welcome on my Web site.</strong></h6>
<br>
<div class="divider"></div>
<br>
<p style="text-align: justify;">My name is Lukasz Plac. I was born in 1983. I come from Skwierzyna which is located in the north western region of Poland</p>
<br>
<p style="text-align: justify;">Since the beginning of my life my interests included computers and everything associated with them.
I remember when, as a small child I got my first computer. It was an Amiga 500. Initially I used it 
mainly to play but then gradually I became interested in programming, partly also computer graphics. 
I wrote my first programs in Turbo Pascal, Basic. These were some of the most beautiful days in my 
life when I could happily take what I like.</p>
<br>
<p style="text-align: justify;">I studied at a primary school in Skwierzyna. Later I attended High School in Gorzow Wielkopolski.
Then I moved to Wroclaw where I studied automation and robotics.</p>
<br>
<p style="text-align: justify;">After graduating I started to work in the automation industry, first as an integrator of automation systems, 
later as a designer of electrical cabinets in the company Woodward Inc., which is located in Krakow, where I currentlu live.</p>
<br>
<p style="text-align: justify;">I never abandoned my interest in the field of IT. I try to develop my passion by learning the basics of programming in 
    <a href="http://sdacademy.pl/">SDAcademy.</a> 
This course is focused mainly on Java and Javascript.</p>
<p style="text-align: justify;">Have fun with my Web Site.
Feel free to contact using the form at the bottom of the page, Quick Links or any other links located on this web site</p>