<h6><strong>Java</strong></h6>
<br>
<div class="divider"></div>
<br>
<p style="text-align: justify;">The main object of my interest is Java. 
    The area of application of this language is very wide, but it has gained great 
    popularity as a useful set of frameworks to help create applications that running
    on servers (servlets). I have some experience in writing desktop applications 
    but recently I became interested in the ways of using Java in web applications with a 
    focus on REST architecture and JSON data format. I would also like to expand my 
    knowledge in the topics such like JAVA integration with relational databases (MySQL, Postgres).
    You can find some of my applications on Bitbucket.</p>

