<h6><strong>HTML/CSS</strong></h6>
<br>
<div class="divider"></div>
<br>
<p style="text-align: justify;">I am very interested in modern design pages. 
    I recently got familliar with HTML/CSS frameworks such like Bootstrap and Materialize. 
    The result is the page you are currently watching.</p>
<br>
<h6><strong>Javascript/JQuery</strong></h6>
<br>
<div class="divider"></div>
<br>
<p style="text-align: justify;">The second field of my interests is Javascript and JQuery. 
    This website also uses these technologies (Materialize built-in library - Materialize.js and my own scripts 
    that I use to animate some elements). As the projects of SDAcademy I also created a simple memory 
    game and Notes application (very simple). You can find them both in the links</p>
